#main-content {
    display: flex;
    flex-direction: column;
}

#main-content > * {
    text-align: center;
}

p {
    font-size: 150%;
}

img {
    margin: 0 auto 20px;
}

#test{
    margin: 0 10px;
}

#rep {
    margin: 20px auto;
    white-space:pre-line;
}

#favori {
    width: 15% ;
    margin: 0 auto 20px;
    display: none;
}

#id {
    display: block;
    margin : 0;
}